* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  padding: 10px;
}

.header h1 {
  align-self: center;
}

.header img {
  width: 70px;
}

.trybewarts-login {
  display: flex;

}

.form-login {
  align-self: center;
  padding: 20px;
}

.main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

footer{
  background-color: gray;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
}

